#
# SEGGER J-Link
#
# http://www.segger.com/jlink.html
#

adapter driver jlink
# add swd config
transport select swd
# add speed config
adapter speed 20000
source [find target/stm32g4x.cfg]
# The serial number can be used to select a specific device in case more than
# one is connected to the host.
#
# Example: Select J-Link with serial number 123456789
#
# adapter serial 123456789
